@model MovieStore.Web.Models.Movie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@MovieStore.Web.Resources.Etiquetas.app_tagMovie_Movie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label(MovieStore.Web.Resources.Etiquetas.app_movie_title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(MovieStore.Web.Resources.Etiquetas.app_movie_releaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control, datepicker" } })
                @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(MovieStore.Web.Resources.Etiquetas.app_movie_director, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Director, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@MovieStore.Web.Resources.Etiquetas.app_movie_buttonName_Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
 
    <div class="row" @ViewBag.hidden>
        <h3 class="alert-danger">@ViewBag.respuesta</h3>
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(function () {
            $("#@Html.IdFor(m=>m.ReleaseDate)").datepicker({
                format: 'yyyy/mm/dd',
                startDate: '-3d'
            });
            $("#@Html.IdFor(m=>m.ReleaseDate)").val("");
        });
    </script>
}
