@model IEnumerable<MovieStore.Web.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div class="col-lg-12">
    <form id="form_search">
        <label>@MovieStore.Web.Resources.Etiquetas.app_movie_buttonName_Search</label><br />
        <input type="text" class="form-control" placeholder="@MovieStore.Web.Resources.Etiquetas.app_movie_title" id="title" name="title" required onkeypress="return validateTitle(event)" /><br />
        <span class="text-danger" id="message"></span>
        <input type="button" value="@MovieStore.Web.Resources.Etiquetas.app_movie_buttonName_Search" class="btn" id="btn_search" />
    </form>
</div>
<br /><br />
<div id="container">
    <p>
        @Html.ActionLink(MovieStore.Web.Resources.Etiquetas.app_movie_buttonName_Create, "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(MovieStore.Web.Resources.Etiquetas.app_movie_title)
            </th>
            <th>
                @Html.DisplayName(MovieStore.Web.Resources.Etiquetas.app_movie_releaseDate)
            </th>
            <th>
                @Html.DisplayName(MovieStore.Web.Resources.Etiquetas.app_movie_director)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.ActionLink(MovieStore.Web.Resources.Etiquetas.app_movie_buttonName_Edit, "Edit", new { id = item.Id, title = item.Title, releaseDate = item.ReleaseDate, director = item.Director }) |
                    @*@Html.ActionLink("", "Details", new { title = item.Title }) |*@
                    @Html.ActionLink(MovieStore.Web.Resources.Etiquetas.app_movie_buttonName_Delete, "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

@section scripts{
    <script>
        $(function () {
            $("#btn_search").on("click", function (evt) {
                debugger;
                evt.preventDefault();
                if ($("#title").val() != "" && $("#title").val() != undefined) {
                    var title = {
                        title: ($("#title").val() != "" && $("#title").val() != undefined) ? $("#title").val() : ""
                    }
                    $.ajax({
                        url: "/MovieStore/Details",
                        contentType: "application/json",
                        method: "GET",
                        data: title,
                        success: function (data) {
                            console.log(data);
                            $("#container").html("");
                            $("#container").html(data);
                        },
                        error: function (x, y, z) {
                            alert(x);
                        }
                    });
                } else {
                    $("#message").html('@MovieStore.Web.Resources.Etiquetas.app_movie_msgTitle')
                }

            });
        });

        function validateTitle(e) {
            key = e.keyCode || e.whitch;
            tecla = String.fromCharCode(key).toString();
            cadena = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
            especiales = [8, 37, 39, 46, 6];
            tecla_especial = false;
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (cadena.indexOf(tecla) == -1 && !tecla_especial) {
                return false;
            }
        }
    </script>    
}